BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

B2_APPLICATION_KEY_ID=YOUR_B2_APPLICATION_KEY_ID
B2_APPLICATION_KEY=YOUR_B2_APPLICATION_KEY
B2_BUCKET_NAME=YOUR_B2_BUCKET_NAME

ADMIN_IDS=YOUR_TELEGRAM_USER_ID

TEMP_DIR=./downloads
